<!DOCTYPE html>
<html>

<head>
    <title>
        About Us
    </title>
    <script src="https://www.momentcrm.com/embed"></script>
<script>
  MomentCRM('init', {
    'teamId': 'sakti_web',
    'doChat': true,
    'doTracking': true
  });
</script>
</head>

<body>
    <center><h1>LILY JOICE SCHOOL</h1></center>
    <div class="card card-body overflow-auto">
        <table itemscope itemtype="http://schema.org/Table">
            <tbody>

                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        School Name
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#8e44ad" class="fa fa-check-circle-o fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        <strong itemprop="about" itemscope itemtype="http://schema.org/Organization" class="lead">LILY JOICE SCHOOL</strong>
                        <span class="jsonly">
                            <div class="dropdown d-inline">
                                <span id="dropdownShareButton" style="cursor: pointer" class="small text-primary pl-1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">(Share)</span>
                                <div class="dropdown-menu" aria-labelledby="dropdownShareButton">
                                    <a class="dropdown-item" rel="nofollow noopener"
                                        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.icbse.com%2Fschools%2Fgood-earth-school-3vz1pz"
                                        target="_blank">Facebook</a>
                                    <a class="dropdown-item" rel="nofollow noopener"
                                        href="https://twitter.com/intent/tweet?text=iCBSE&amp;url=https%3A%2F%2Fwww.icbse.com%2Fschools%2Fgood-earth-school-3vz1pz&amp;via=icbse"
                                        target="_blank">Twitter</a>
                                    <a class="dropdown-item"
                                        href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.icbse.com%2Fschools%2Fgood-earth-school-3vz1pz&title=iCBSE&summary=&source="
                                        target="_blank" rel="nofollow noopener">Linkedin</a>
                                    <a class="dropdown-item" target="_blank"
                                        href="mailto:?Subject=iCBSE&Body=https://www.icbse.com/schools/good-earth-school-3vz1pz">Email</a>
                                </div>
                            </div>
                        </span>
                    </td>
                </tr>

                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        Address / Location
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#e67e22" class="fa fa-map-marker fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        <address>Unit 14, 3 Edgar Buildings, George Street, Bath, England BA1 2FJ
                        </address>
                    </td>
                </tr>

                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        User Rating
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#2980b9" class="fa fa-sort fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        <i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i
                            class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i
                            class="fa fa-star text-warning"></i>
                        <strong class="pl-1">
                            <span class='text-success'><span style='font-size:115%'>5</span>/5</span>
                        </strong>
                    </td>
                </tr>

                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        Phone Number(s)
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#27ae60" class="fa fa-phone-square fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        08**24**19**-9 **E]**gr**tn**0e**ya
                    </td>
                </tr>

                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        Email Address
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#c0392b" class="fa fa-envelope fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">[0] 044-64719574-75head@*********
                    </td>
                </tr>


                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        Affiliation Number
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#f39c12" class="fa fa-hashtag fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        TN**4
                    </td>
                </tr>



                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        Principal / Headmaster
                        <small class="text-secondary font-weight-light"></small>
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#e74c3c" class="fa fa-star fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        Ms. Suchitra S
                    </td>
                </tr>
                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        Type
                        <small class="text-secondary font-weight-light"></small>
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#2c3e50" class="fa fa-star fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        ICSE, ISC
                    </td>
                </tr>
                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        Education System
                        <small class="text-secondary font-weight-light"></small>
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#f1c40f" class="fa fa-star fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        Co-ed., Day, Permanent
                        <br/>
                    </td>
                </tr>
            </tbody>
        </table>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2489.9799128098393!2d-2.3640280848050352!3d51.385047227463645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487181149eed3bff%3A0x84cbaf33338b2fba!2s14%2C%203%20Edgar%20Buildings%2C%20George%20St%2C%20Bath%20BA1%202FJ%2C%20UK!5e0!3m2!1sen!2sin!4v1611814188269!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

<br/><br/>

 <div class="footer">
     <br/>
    <center><p>Done By : Sakti-Web &#10084;</p></center>
  </div>

        <link rel="stylesheet" href="https://static.icbse.com/static/web/css/all.css?id=5ff0c7ddcaed58fa28f2">

        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></noscript>

        <script src="https://static.icbse.com/static/web/js/all.js?id=13a2e785aa7fd0a110ab"></script>
</body>

</html>