<!DOCTYPE html>
<html>

<head>
    <title>
        Attendance Management
    </title>
    <script src="https://www.momentcrm.com/embed"></script>
<script>
  MomentCRM('init', {
    'teamId': 'sakti_web',
    'doChat': true,
    'doTracking': true
  });
</script>
</head>

<body>
    <h1>
        Hey There !! 
    </h1>
    <h3>
        <ul>
            <li>Attendance will be managed by teachers.</li><br/>
            <li>Teachers will come after assembly and take attendance.</li><br/>
        </ul>
    </h3>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
          <div class="footer" style="background-color: black; color: white">
     <br/>
    <center><p>Done By : Sakti-Web <span style="color: red;">&#10084;</span></p></center>
    <br/>
  </div>
</body>

</html>