<!DOCTYPE html>
<html>

<head>
    <title>
        Environmental Management
    </title>
    <script src="https://www.momentcrm.com/embed"></script>
<script>
  MomentCRM('init', {
    'teamId': 'sakti_web',
    'doChat': true,
    'doTracking': true
  });
</script>
</head>

<body>
    <h2>
        Hey !! Here are some photos of the school Environment
    </h2>
    
    <img src="https://zen-cori-c20898.netlify.app/1.jpg" alt="No Internet" style="height: 50%; width:50%">

    <img src="https://zen-cori-c20898.netlify.app/2.jpg" alt="No Internet" style="height: 50%; width:50%">
    
    <img src="https://zen-cori-c20898.netlify.app/3.jpg" alt="No Internet" style="height: 50%; width:50%">
    
    <img src="https://zen-cori-c20898.netlify.app/4.jpg" alt="No Internet" style="height: 50%; width:50%">
    
    <img src="https://zen-cori-c20898.netlify.app/5.jpg" alt="No Internet" style="height: 50%; width:50%">
    
    <img src="https://zen-cori-c20898.netlify.app/6.jpg" alt="No Internet" style="height: 50%; width:50%">
    
    <img src="https://zen-cori-c20898.netlify.app/7.jpg" alt="No Internet" style="height: 50%; width:50%">

          <div class="footer" style="background-color: black; color: white">
     <br/>
    <center><p>Done By : Sakti-Web <span style="color: red;">&#10084;</span></p></center>
    <br/>
  </div>
</body>

</html>