<!DOCTYPE html>
<html>

<head>
    <title>
        Fee
    </title>
</head>

<body>
    <h1 style="text-align: center;">Payment of Fees</h1>
    <h3>Fee is payable by Account payee cheque only. This is required to be paid by
        the following dates, for the respective terms.
    </h3>
    <h4>
        <pre>
        1st Term    –    1st to 10th June 

        2nd Term    –    1st to 10th October 

        3rd Term    –    1st to 10th February 
    </pre>
    </h4>
    <h3>
        Kindly note you are expected to get in touch with the school office, if you do
        not receive the printed challan with fee detail before due date of payment.
        After the last date, a late fee of ` 5000 will be levied.
    </h3>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
          <div class="footer" style="background-color: black; color: white">
     <br/>
    <center><p>Done By : Sakti-Web <span style="color: red;">&#10084;</span></p></center>
    <br/>
  </div>
</body>

</html>