<!DOCTYPE html>
<html>

<head>
    <title>
        LILY JOICE SCHOOL
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</head>

<body style="text-align: center;">
    <a name="0.1_top">
        <img src="https://cranky-dubinsky-4664a1.netlify.app/images/school.png" alt="No internet"
            class="wow bounceInDown" width="100%" />

        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 col-sm-12 wow fadeInLeft">
                    <div class="features-list ">
                        <img src="https://wooshii-ltd.imgix.net/nulle289a88a-e9ec-4d86-b462-0f1a95be18c6/About-Us-uai-2880x1507.jpeg?auto=compress%2Cformat&fit=min&fm=png&q=80&rect=0%2C0%2C2880%2C1507"
                            style="height: 50%; width: 50%; border-radius: 20px;" alt="No internet" /><br /><br />
                        <span class="line">
                            <small>

                            </small>
                        </span>
                        <h3>
                            <a href="/about_us" style="text-decoration: none; color: rgb(0, 0, 0);"><span>About
                                </span>Us</a>
                        </h3>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 wow fadeInRight">
                    <div class="features-list features-list-right">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQy_TPwycGcqSH3I118ilV6c8NLXLH8PWq0aA&usqp=CAU"
                            style="border-radius: 20px; height: 40%; width: 40%;" alt="No internet" />
                        <span class="line2">
                            <small>

                            </small>
                        </span>
                        <h3><br />
                            <a href="parents" style="text-decoration: none; color: black;"><span>Guidelines
                                    For</span> Parents</a>
                        </h3>
                    </div>

                </div>


                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-6 col-sm-12 wow fadeInLeft">
                            <div class="features-list ">
                                <img src="https://cranky-dubinsky-4664a1.netlify.app/images/Admission%20Management.jpg"
                                    alt="No internet" />
                                <span class="line">
                                    <small>

                                    </small>
                                </span>
                                <h3>
                                    <a href="/admission"
                                        style="text-decoration: none; color: rgb(0, 0, 0);"><span>Admission</span>
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 wow fadeInRight">
                            <div class="features-list features-list-right">
                                <img src="https://cranky-dubinsky-4664a1.netlify.app/images/Student%20Management.jpg"
                                    alt="No internet" />
                                <span class="line2">
                                    <small>

                                    </small>
                                </span>
                                <h3>
                                    <a href="/students"
                                        style="text-decoration: none; color: black;"><span>Student</span></a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-6 col-sm-12 wow fadeInLeft">
                            <div class="features-list">
                                <img src="https://cranky-dubinsky-4664a1.netlify.app/images/Teacher%20Management.jpg"
                                    alt="No internet" />
                                <span class="line">
                                    <small>

                                    </small>
                                </span>
                                <h3>
                                    <a href="/teachers"
                                        style="text-decoration: none; color: black;"><span>Teacher</span></a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 wow fadeInRight">
                            <div class="features-list features-list-right">
                                <img src="https://cranky-dubinsky-4664a1.netlify.app/images/Attendence%20management.jpg"
                                    alt="No internet" />
                                <span class="line2">
                                    <small>

                                    </small>
                                </span>
                                <h3>
                                    <a href="/attendance" style="color: black; text-decoration: none;"><span>Attendance
                                        </span> </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-6 col-sm-12 wow fadeInLeft">
                            <div class="features-list">
                                <img src="https://cranky-dubinsky-4664a1.netlify.app/images/Fee%20management.jpg"
                                    alt="No internet" />
                                <span class="line">
                                    <small></small>
                                </span>
                                <h3>
                                    <a href="/fee" style="text-decoration: none; color: black;"><span>Fee</span></a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 wow fadeInRight">
                            <div class="features-list features-list-right">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQKD1USm9z8oP7OgIFMZKJYA5C9shW7Fh2URg&usqp=CAU"
                                    style="border-radius: 30%;" alt="No internet" />
                                <span class="line2">
                                    <small>

                                    </small>
                                </span>
                                <h3>
                                    <a href="/online_class" style="text-decoration: none; color: black;"><span>Online
                                            Class
                                        </span></a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-6 col-sm-12 wow fadeInLeft">
                            <div class="features-list">
                                <img src="https://cranky-dubinsky-4664a1.netlify.app/images/Time%20Table%20Management.jpg"
                                    alt="No internet" />
                                <span class="line">
                                    <small>

                                    </small>
                                </span>
                                <h3>
                                    <a href="/time-table" style="text-decoration: none; color: black;"><span>Time
                                            Table</span> </a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 wow fadeInRight">
                            <div class="features-list features-list-right">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT7X3-Ap_OEdsX94ZL6WClTTedHcQiUddOO9Q&usqp=CAU"
                                    style="border-radius: 30%;" alt="No internet" />
                                <span class="line2">
                                    <small>

                                    </small>
                                </span>
                                <h3>
                                    <a href="/environmental"
                                        style="text-decoration: none; color: black;"><span>Environmental</span></a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-6 col-sm-12 wow fadeInLeft">
                            <div class="features-list">
                                <img src="https://www.icts.res.in/sites/default/files/lots-of-kids.png" height="250px"
                                    width="250px" style="border-radius: 30px;" alt="No internet" />
                                <span class="line">
                                    <small>

                                    </small>
                                </span>
                                <h3>
                                    <a href="/students-g" style="text-decoration: none; color: black;"><span>Guidelines
                                            For
                                        </span>Students</a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 wow fadeInRight">
                            <div class="features-list features-list-right">
                                <img src="https://cranky-dubinsky-4664a1.netlify.app/images/health.jpg"
                                    alt="No internet" />
                                <span class="line2">
                                    <small>

                                    </small>
                                </span>
                                <h3>
                                    <a href="/health"
                                        style="text-decoration: none; color: black;"><span>Health</span></a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row no-gutters">
                        <div class="col-md-6 col-sm-12 wow fadeInLeft">
                            <div class="features-list">
                                <img src="https://image.freepik.com/free-vector/time-management-concept_23-2147505106.jpg"
                                    style="border-radius: 20px; height: 32%; width: 40%;" alt="No internet" />
                                <span class="line">
                                    <small>

                                    </small>
                                </span>
                                <h3>
                                    <a href="timings"
                                        style="text-decoration: none; color: black;"><span>Timings</span></a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <center>
        <h1>ALL THE BEST &#128077; </h1>
    </center>
    <h2 style="text-align: right;"><a href="#0.1_top" style="text-decoration: none;">&#9757;</a></h2>

    <div class="footer" style="background-color: black; color: white">
     <br/>
    <center><p>Done By : Sakti-Web &#10084;</p></center>
    <br/>
  </div>
</body>

</html>