<!DOCTYPE html>
<html>

<head>
    <title>
        LILY JOICE SCHOOL
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <script src="https://www.momentcrm.com/embed"></script>
    <script>
        MomentCRM('init', {
            'teamId': 'sakti_web',
            'doChat': true,
            'doTracking': true
        });
    </script>
</head>

<body style="text-align: center;">
    <div id="progressbar"></div>
    <div id="scrollPath"></div>
    <section>
        <h1 style="color: white;">LILY JOICE SCHOOL</h1>
        <div>
            <div class="container">
                <div class="box">
                    <span></span>
                    <div class="content">
                        <a href="/about_us">About Us</a>
                    </div>
                </div>
                <div class="box">
                    <span></span>
                    <div class="content">
                        <a href="/admission">Admission</a>
                    </div>
                </div>
                <div class="box">
                    <span></span>
                    <div class="content">
                        <a href="/attendance">Attendance</a>
                    </div>
                </div>
                <div class="box">
                    <span></span>
                    <div class="content">
                        <a href="/environmental">Environmental</a>
                    </div>
                </div>
                <div class="box">
                    <span></span>
                    <div class="content">
                        <a href="/fee">Fee</a>
                    </div>
                </div>
                <div class="box">
                    <span></span>
                    <div class="content">
                        <a href="/health">Health</a>
                    </div>
                </div>
                <div class="box">
                    <span></span>
                    <div class="content">
                        <a href="/online_class">Online Class</a>
                    </div>
                </div>
                <div class="box">
                    <span></span>
                    <div class="content">
                        <a href="/parents">Guidelines For Parents</a>
                    </div>
                </div>
                <div class="box">
                    <span></span>
                    <div class="content">
                        <a href="/students-g">Guidelines For Students</a>
                    </div>
                </div>
                <div class="box">
                    <span></span>
                    <div class="content">
                        <a href="/students">Students</a>
                    </div>
                </div>
                <div class="box">
                    <span></span>
                    <div class="content">
                        <a href="/teachers">Teachers</a>
                    </div>
                </div>
                <div class="box">
                    <span></span>
                    <div class="content">
                        <a href="/time-table">Time Table</a>
                    </div>
                </div>
                <div class="box">
                    <span></span>
                    <div class="content">
                        <a href="/timings">Timings</a>
                    </div>
                </div>
            </div>
    </section>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: consolas;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #111;
        }

        section {
            padding: 50px;
            background: #000;
        }

        ::-webkit-scrollbar {
            width: 0%;
        }

        #scrollPath {
            position: fixed;
            top: 0;
            right: 0;
            width: 10px;
            height: 100%;
            background: rgba(255, 255, 255, 0.05);
        }

        #progressbar {
            position: fixed;
            top: 0;
            right: 0;
            width: 10px;

            background: linear-gradient(to top, #008aff, #00ffe7);
            animation: animate 5s linear infinite;
        }

        @keyframes animate {

            0%,
            100% {
                filter: hue-rotate(0deg);
            }

            50% {
                filter: hue-rotate(360deg);
            }
        }

        #progressbar:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #008aff, #00ffe7);
            filter: blur(10px);
        }

        #progressbar:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #008aff, #00ffe7);
            filter: blur(30px);
        }

        .container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
            flex-wrap: wrap;
        }

        .container .box {
            position: relative;
            width: 320px;
            height: 400px;
            color: #fff;
            background-color: #111;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 30px;
            transition: 0.5s;
        }

        .container .box:hover {
            transform: translateY(-20px);
        }

        .container .box::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, #ffbc00, #ff0058);
        }

        .container .box::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, #ffbc00, #ff0058);
            filter: blur(30px);
        }

        .container .box:nth-child(2)::before,
        .container .box:nth-child(2)::after {
            background: linear-gradient(315deg, #03a9f4, #ff0058);
        }

        .container .box:nth-child(3)::before,
        .container .box:nth-child(3)::after {
            background: linear-gradient(315deg, #4dff03, #00d0ff);
        }

        .container .box:nth-child(4)::before,
        .container .box:nth-child(4)::after {
            background: linear-gradient(315deg, #f45b03, #66ff00);
        }

        .container .box:nth-child(5)::before,
        .container .box:nth-child(5)::after {
            background: linear-gradient(315deg, #4dff03, #00d0ff);
        }

        .container .box:nth-child(6)::before,
        .container .box:nth-child(6)::after {
            background: linear-gradient(315deg, #ffbc00, #ff0058);
        }

        .container .box:nth-child(7)::before,
        .container .box:nth-child(7)::after {
            background: linear-gradient(315deg, #ffbc00, #ff0058);
        }

        .container .box:nth-child(8)::before,
        .container .box:nth-child(8)::after {
            background: linear-gradient(315deg, #03a9f4, #ff0058);
        }

        .container .box:nth-child(9)::before,
        .container .box:nth-child(9)::after {
            background: linear-gradient(315deg, #4dff03, #00d0ff);
        }

        .container .box:nth-child(11)::before,
        .container .box:nth-child(11)::after {
            background: linear-gradient(315deg, #03a9f4, #ff0058);
        }

        .container .box:nth-child(10)::before,
        .container .box:nth-child(10)::after {
            background: linear-gradient(315deg, #4dff03, #00d0ff);
        }

        .container .box:nth-child(12)::before,
        .container .box:nth-child(12)::after {
            background: linear-gradient(315deg, #ffbc00, #ff0058);
        }

        .container .box:nth-child(13)::before,
        .container .box:nth-child(13)::after {
            background: linear-gradient(315deg, #4dff03, #ffe600);
        }

        .container .box span {
            position: absolute;
            top: 6px;
            left: 6px;
            right: 6px;
            bottom: 6px;
            background: rgba(0, 0, 0, 0.6);
            z-index: 2;
        }

        .container .box span::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: rgba(255, 255, 255, 0.1);
            pointer-events: none;
        }

        .container .box .content {
            position: relative;
            z-index: 10;
            padding: 20px 40px;
        }

        .container .box .content h2 {
            font-size: 2em;
            color: #fff;
            margin-bottom: 10px;
        }

        .container .box .content p {
            font-size: 1.1em;
            color: #fff;
            margin-bottom: 10px;
            line-height: 1.4em;
        }

        .container .box .content a {
            display: inline-block;
            font-size: 1.1em;
            color: #111;
            background: #fff;
            padding: 10px;
            text-decoration: none;
            font-weight: 700;
        }
    </style>

    <script type="text/javascript">
        let progress = document.getElementById('progressbar');
        let totalHeight = document.body.scrollHeight - window.innerHeight;
        window.onscroll = function () {
            let progressHeight = (window.pageYOffset / totalHeight) * 100;
            progress.style.height = progressHeight + "%";
        }
    </script>
</body>

</html>