<!DOCTYPE html>
<html>
    <head>
        <title>
            Health Management
        </title>
    </head>
    <body>
        <h1 style="text-align: center;">Health</h1>
        <h3>
            <ul>
                <li>We Serve lunch in school itself..</li><br/>
                <li>We make food useing the fruits and vegetable we grow in the farm.</li><br/>
                <li>And also in running race if a child fell , then the aayammas come and help him/her by putting medicine and by taking care of him/her.</li>
            </ul> 
        </h3>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
              <div class="footer" style="background-color: black; color: white">
     <br/>
    <center><p>Done By : Sakti-Web <span style="color: red;">&#10084;</span></p></center>
    <br/>
  </div>
    </body>
</html>