<!DOCTYPE html>
<html>
    <title>
        Online Classes
    </title>
    <body>
        <h1 style="text-align: center;">
            Online Classes
        </h1>
        <h3>
            <ul>
                <li>We will have two platforms which we will use. The two platforms are "Google classroom" and "Google meet".</li><br/>
                <li>In "google classroom" we teachers will send assignment, materials and quizs.</li><br/>
                <li>We will give a code and you must enter it in the Google classroom. After you entered it you will be taken to a classroom and in the classroom we will tell you a code a you can go to google meet and then enter that code and click ask to join after you click ask to join you will be taken to the meet , that is where we will meet.</li>
            </ul>
        </h3>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
              <div class="footer" style="background-color: black; color: white">
     <br/>
    <center><p>Done By : Sakti-Web <span style="color: red;">&#10084;</span></p></center>
    <br/>
  </div>
    </body>
</html>