<!DOCTYPE html>
<html>

<head>
    <title>
        GUIDELINES FOR PARENTS
    </title>
    <script src="https://www.momentcrm.com/embed"></script>
<script>
  MomentCRM('init', {
    'teamId': 'sakti_web',
    'doChat': true,
    'doTracking': true
  });
</script>
</head>

<body>
    <h1 style="text-align: center;">
        GUIDELINES FOR PARENTS
    </h1>
    <p><b>THE HANDBOOK</b>: This handbook has been introduced for you and the
        school staff to communicate effectively. It is essential that you inspect your
        child’s handbook every day. All communications must be<br /><br /> countersigned by
        you, so that we know that you have read them. In the event that you wish to
        communicate with the class teacher, please use the handbook. It is
        mandatory that the handbook is well maintained<br /><br /> and carried to school every
        day.
    </p>
    <p>
        <b>COMMUNICATION WITH PARENTS</b>: School communicates with parents
        only by SMS and email service provided by Yokibu. As soon as you receive
        an SMS, it is mandatory that you check your email<br /><br /> for details immediately.
        If you have a problem receiving communication via Yokibu or if there is a
        change in your mobile phone number or email ID, it must be notified to the
        office at the earliest, <u>failing which<br /><br /> you may miss out on important
            communications.</u>

    </p>
    <p>
        <b>ROLE OF PARENTS</b>: Collaboration between parents and teachers is
        essential for the holistic education of the child. With this in mind, the
        following academic and cultural programmes have been planned.
    <pre>

         Orientation Meetings for Parents
         Report Meeting after the 1st and 3rd terms
         Class Project Presentations
         Kreedotsav – Annual Sports Day
         Kalotsav – Annual Cultural Day
         Pradarshan – Thematic Exhibition
         Mela – Art, Craft, Food and Games Carnival

    </pre>

    The specific dates for each of these programmes are indicated under
    ‘Important Dates to Remember’ in this handbook. <u>Your participation,
        involvement and co-operation is essential and will go a long way in<br /><br /> the
        overall development of your child.</u>
    <br /><br /><br /><br />
    Parents are welcome to meet teachers on any working day. However, <u>a prior
        appointment is a must</u>, and this should be coordinated with the class teacher.
    Parents are expected to collect report cards on <br /><br />pre-appointed days. Presence
    of both the parents is mandatory. Report cards will be handed over only to
    parents/guardians.
    </p>
    <p>
        <b>CHILDREN AT HOME</b>: If your child expresses physical discomfort before
        leaving for school, please keep him/her at home and inform the class teacher
        that very day. The child must be sent to school <br /><br />only after complete recovery
        from any illness. Please inform the class teacher if your child is under any
        unusual stress at home (family sickness, death, parental absence, separation,
        divorce, etc.) <br /><br />This information is vital to the care given at school by the
        teachers and other staff.
        <br /><br /><br />
        After school hours, please encourage your child to play outdoor games.
        Regulate the time that he/she spend watching TV, using the computer and
        the internet. Ensure that the internet is used only under<br /><br /> your direct
        supervision.
    </p>
    <p>
        <b>HOMEWORK AND PARENTAL SUPPORT</b>: Homework need not
        necessarily be written work. The following are some of the objectives in
        giving homework.
    <pre>
         To reinforce and recapitulate what has been taught.

         To develop the ability to gather relevant information from various sources like books, newspapers and magazines.

         To further the student’s capacity for self-learning and initiative.

         To evaluate the students’ understanding.
        </pre>
    The right kind of parental support and supervision is crucial. Parent may
    need to
    <pre>
         actively ensure that homework is done.

         sensitively and creatively reinforce what has been learnt, in consultation with the teacher.
        
         make sure internet reference is avoided for homework and project work till class VII

         ensure all homework and projects, be done by students independently.
    </pre>
    Parents are requested to check the handbook and notebooks periodically to
    get an idea of the child’s work habits. Do ensure that children pack their bags
    according to the timetable and do not <br />overload themselves.
    </p>
    <p>
        <b>COMMUNITY RESPONSIBILITY</b>: Students are encouraged to accept and
        share the responsibility of belonging to a larger community. Students are
        therefore required to
    <pre>
         clean their classroom

         wash plates and set the dining hall

         participate in work on the school campus
    </pre>
    </p>

    <p>
        <b>CELEBRATION OF BIRTHDAYS</b>: It is matter of importance to us at school
        that birthdays are acknowledged in a simple manner. <u>Students should not
            bring sweets or chocolates to school.</u> Each class <br /><br />or group will find alternative
        ways to acknowledge students’ birthdays at the school. We would like
        parents to keep any celebration at home small and seek different and simple
        ways of looking at birthdays. <br /><br />If parents and the student are keen on
        celebrating a birthday at home please ensure that all students of the
        class/group are invited. Birthdays must be simple affairs and while the child
        does feel special on<br /><br /> that day it is also our responsibility to ensure that no one
        feels sad or left out.
    </p>
    <p>
        <b>ANIMALS ON CAMPUS</b>: There are few animals that live on the campus.
        These animals share the campus with us and are treated with dignity and
        kindness. However, children are advised to maintain a <br /><br />safe distance from
        them.<br /><br />
    </p>
          <div class="footer" style="background-color: black; color: white">
     <br/>
    <center><p>Done By : Sakti-Web <span style="color: red;">&#10084;</span></p></center>
    <br/>
  </div>
</body>

</html>