<!DOCTYPE html>
<html>

<head>
    <title>
        GUIDELINES FOR STUDENTS
    </title>
    <script src="https://www.momentcrm.com/embed"></script>
<script>
  MomentCRM('init', {
    'teamId': 'sakti_web',
    'doChat': true,
    'doTracking': true
  });
</script>
</head>

<body>
    <h1 style="text-align: center;">
        GUIDELINES FOR STUDENTS
    </h1>
    An important aspect of growth is order. The school endeavours to nurture a
    sense of order in the students. This means that all activities at school must be
    approached with a sense of responsibility to oneself and others at school. While
    the atmosphere is informal and humane, a sense of propriety is preserved. With
    this in mind students are reminded about the following norms…
    <br/><br/>
    <pre>
     They may not leave the campus without written permission from the
    Principal or the Class Teacher.

     They should not bring expensive or undesirable items to school.

     Punctuality is seen as an act of responsibility to all concerned. Being regular
    to school creates a sense of enjoyment and involvement necessary for the
    student. During the term all students are expected to attend school regularly.
    Absence from school is not treated lightly. Parents need to send leave letters
    with the students in case of ill health or contingencies. It is to be noted that
    attendance on the first and last days of the term are of particular significance.

     Students are expected to commute by the school bus only except in case of
    contingencies previously discussed with the class teacher. On no account will
    a student drive a motorised vehicle to school.

     Appropriateness in behaviour and dress is an aspect of learning at the school.
    We would like students to dress in a manner that reflects consideration for
    what is appropriate in a place of learning. Sober, ordinary cotton clothes are
    considered appropriate for the school. Clothes with writings on them and
    tight fitting clothes are not allowed.

     Farewell party will be organized in the school for classes X and XII students
    towards the end of the academic year. Hosting of parties for farewell,
    birthdays or other occasions and gifting expensive things to the teachers or
    other students is considered inappropriate.

    </pre>
    These guidelines are not enforced through rewards or punishments. However a
    clear demand is made on the student body, in unambiguous terms, to preserve
    a sense of order and correct ethical and moral conduct in the school.
<br/><br/>
          <div class="footer" style="background-color: black; color: white">
     <br/>
    <center><p>Done By : Sakti-Web <span style="color: red;">&#10084;</span></p></center>
    <br/>
  </div>
</body>

</html>