<!DOCTYPE html>
<html>

<head>
    <title>
        Student Management
    </title>
</head>

<body>
    <h1 style="text-align: center;">
        Students in a class
    </h1>
    <h3>
        <!--In each class we will have 25 to 30 students. We might have 1 or 2 sections. 
        It is based on how many students we have. In a bench, we will have two kids sitting, a boy and a girl.-->
        <ul>
            <li>In each class we will have 25 to 30 students.</li></br>
            <li>We might have 1 or 2 sections. It is based on how many students we have.</li><br/>
            <li>In a bench, we will have two kids sitting, a boy and a girl.</li>
        </ul>
    </h3>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
          <div class="footer" style="background-color: black; color: white">
     <br/>
    <center><p>Done By : Sakti-Web <span style="color: red;">&#10084;</span></p></center>
    <br/>
  </div>
</body>

</html>