<!DOCTYPE html>
<html>
    <head>
        <script src="https://www.momentcrm.com/embed"></script>
<script>
  MomentCRM('init', {
    'teamId': 'sakti_web',
    'doChat': true,
    'doTracking': true
  });
</script>
    </head>
<body>
    <center><h1>Teaching Faculty</h1></center>
    <h3><b>
<pre>
    
    1. Lidya K                                                     14. Kalyani R.                                              27. Sangana R
    
    2. Jessi M                                                     15. Keval Ram R                                             28. Suryanarayanan L.
    
    3. Jaydan W                                                    16. Kavya Kashpa S                                          29. Umamaheshwarao N
    
    4. Azren Muli Lana Vendu G                                     17. Oovaya Kashpa                                           30. Lera K
   
    5. Aatherya Gadu P                                             18. Advith Praveen                                          31. Ana L
   
    6. Maha Kamu L                                                 19. Ramya Priya M                                           32. Kavi K
    
    7. Deva Oliva Pama                                             20. Moni Mani                                               33. Lawry P
    
    8. Debby alfa                                                  21. Suchitra S                                              34. Shreyas B
    
    9. David Muna R                                                22. Leka Malathi Mani Lara                                  35. Vedesh G
    
    10. Lashmi Ravin                                               23. Parvatham Hari Haran                                    36. Sumiya A
    
    11. Pathma sara M                                              24. Rajeswari Bharani Dharan                                37. Thahira A
    
    12. Sathya Priya Lara                                          25. Ashwitha M                                         
    
    13. Jyothirmayi                                                26. Pavithra R
</pre>
<center><h1>Consultants</h1></center>
<pre>
    1. Suba A 

    2. Jeya L

    3. Sanju J

    4. Lana W
</pre>
<center><h1>Administrative Staff</h1></center>
<pre>
    1. Haasini K               -   Agricultural Officer

    2. Mrithunjay V            -   Office Assistant

    3. Bala S                  -   Office Manager

    4. Janu A                  -   Canteen & House Keeping Supervisor

    5. Velu W                  -   Office Assistant

    6. Vina P                  -   Campus Supervisor
</pre>
<center><h1>Support Staff</h1></center>
<pre>
    1. Ravina           -   Office

    2. Parameswari K    -   Home Science & Physics Lab

    3. Keerthi S        -   Biology & Chemistry Lab

    4. Mithra P         -   Library
    
</pre>
</b></h3>
      <div class="footer" style="background-color: black; color: white">
     <br/>
    <center><p>Done By : Sakti-Web <span style="color: red;">&#10084;</span></p></center>
    <br/>
  </div>
</body>
</html>