<!DOCTYPE html>
<html>
    <head>
        <title>
            Time Table Management
        </title>
        <script src="https://www.momentcrm.com/embed"></script>
<script>
  MomentCRM('init', {
    'teamId': 'sakti_web',
    'doChat': true,
    'doTracking': true
  });
</script>
    </head>
    <body>
        <h2>
            Timetable for LKG
        </h2>
        <table border="5" style="color: white;" align="center" bgcolor="green" cellspacing="13" height="575" width="576" cellpadding="50">
            <tr>
                <th>
                    Day
                </th>
                <th>
                    1st period
                </th>
                <th>
                    2nd period
                </th>
                <th>
                    3rd period
                </th>
                <th>
                    4th period
                </th>
                <th>
                    5th period
                </th>
                <th>
                    6th period
                </th>
                <th>
                    7th period
                </th>
            </tr>
            <tr>
                <th>
                    Day order 1
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 2
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 3
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 4
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 5
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 6
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
        </table>

        <h2>
            Timetable for UKG
        </h2>
        <table border="5" align="center" bgcolor="yellow" cellspacing="13" height="575" width="576" cellpadding="50">
            <tr>
                <th>
                    Day
                </th>
                <th>
                    1st period
                </th>
                <th>
                    2nd period
                </th>
                <th>
                    3rd period
                </th>
                <th>
                    4th period
                </th>
                <th>
                    5th period
                </th>
                <th>
                    6th period
                </th>
                <th>
                    7th period
                </th>
            </tr>
            <tr>
                <th>
                    Day order 1
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 2
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 3
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 4
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 5
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 6
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
        </table>
        <h2>
            Timetable for 1st standerd
        </h2>
        <table border="5" style="color: white;" align="center" bgcolor="red" cellspacing="13" height="575" width="576" cellpadding="50">
            <tr>
                <th>
                    Day
                </th>
                <th>
                    1st period
                </th>
                <th>
                    2nd period
                </th>
                <th>
                    3rd period
                </th>
                <th>
                    4th period
                </th>
                <th>
                    5th period
                </th>
                <th>
                    6th period
                </th>
                <th>
                    7th period
                </th>
            </tr>
            <tr>
                <th>
                    Day order 1
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 2
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 3
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 4
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 5
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 6
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
        </table>

        <h2>
            Timetable for 2nd standerd
        </h2>
        <table border="5" style="color: white;" align="center" bgcolor="brown " cellspacing="13" height="575" width="576" cellpadding="50">
            <tr>
                <th>
                    Day
                </th>
                <th>
                    1st period
                </th>
                <th>
                    2nd period
                </th>
                <th>
                    3rd period
                </th>
                <th>
                    4th period
                </th>
                <th>
                    5th period
                </th>
                <th>
                    6th period
                </th>
                <th>
                    7th period
                </th>
            </tr>
            <tr>
                <th>
                    Day order 1
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 2
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 3
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 4
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 5
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 6
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
        </table>
        <h2>
            Timetable for 3rd standerd
        </h2>
        <table border="5" style="color: white;" align="center" bgcolor="hot-pink" cellspacing="13" height="575" width="576" cellpadding="50">
            <tr>
                <th>
                    Day
                </th>
                <th>
                    1st period
                </th>
                <th>
                    2nd period
                </th>
                <th>
                    3rd period
                </th>
                <th>
                    4th period
                </th>
                <th>
                    5th period
                </th>
                <th>
                    6th period
                </th>
                <th>
                    7th period
                </th>
            </tr>
            <tr>
                <th>
                    Day order 1
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 2
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 3
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 4
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 5
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 6
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
        </table>

        <h2>
            Timetable for 4th standerd
        </h2>
        <table border="5" style="color: white;" align="center" bgcolor="light-blue" cellspacing="13" height="575" width="576" cellpadding="50">
            <tr>
                <th>
                    Day
                </th>
                <th>
                    1st period
                </th>
                <th>
                    2nd period
                </th>
                <th>
                    3rd period
                </th>
                <th>
                    4th period
                </th>
                <th>
                    5th period
                </th>
                <th>
                    6th period
                </th>
                <th>
                    7st period
                </th>
            </tr>
            <tr>
                <th>
                    Day order 1
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 2
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 3
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 4
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 5
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 6
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
        </table>

        <h2>
            Timetable for 5th standerd
        </h2>
        <table border="5" align="center" bgcolor="pink" cellspacing="13" height="575" width="576" cellpadding="50">
            <tr>
                <th>
                    Day
                </th>
                <th>
                    1st period
                </th>
                <th>
                    2nd period
                </th>
                <th>
                    3rd period
                </th>
                <th>
                    4th period
                </th>
                <th>
                    5th period
                </th>
                <th>
                    6th period
                </th>
                <th>
                    7th period
                </th>
            </tr>
            <tr>
                <th>
                    Day order 1
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 2
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 3
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 4
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 5
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 6
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
        </table>

        <h2>
            Timetable for 6th standerd
        </h2>
        <table border="5" style="color: white;" align="center" bgcolor="purple" cellspacing="13" height="575" width="576" cellpadding="50">
            <tr>
                <th>
                    Day
                </th>
                <th>
                    1st period
                </th>
                <th>
                    2nd period
                </th>
                <th>
                    3rd period
                </th>
                <th>
                    4th period
                </th>
                <th>
                    5th period
                </th>
                <th>
                    6th period
                </th>
                <th>
                    7th period
                </th>
            </tr>
            <tr>
                <th>
                    Day order 1
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 2
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 3
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 4
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 5
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 6
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
        </table>

        <h2>
            Timetable for 7th standerd
        </h2>
        <table border="5" align="center" bgcolor="orange" cellspacing="13" height="575" width="576" cellpadding="50">
            <tr>
                <th>
                    Day
                </th>
                <th>
                    1st period
                </th>
                <th>
                    2nd period
                </th>
                <th>
                    3rd period
                </th>
                <th>
                    4th period
                </th>
                <th>
                    5th period
                </th>
                <th>
                    6th period
                </th>
                <th>
                    7th period
                </th>
            </tr>
            <tr>
                <th>
                    Day order 1
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 2
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 3
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 4
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 5
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 6
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
        </table>

        <h2>
            Timetable for 8th standerd
        </h2>
        <table border="5" align="center" bgcolor="white" cellspacing="13" height="575" width="576" cellpadding="50">
            <tr>
                <th>
                    Day
                </th>
                <th>
                    1st period
                </th>
                <th>
                    2nd period
                </th>
                <th>
                    3rd period
                </th>
                <th>
                    4th period
                </th>
                <th>
                    5th period
                </th>
                <th>
                    6th period
                </th>
                <th>
                    7th period
                </th>
            </tr>
            <tr>
                <th>
                    Day order 1
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 2
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 3
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 4
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 5
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 6
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
        </table>

        <h2>
            Timetable for 9th standerd
        </h2>
        <table border="5" align="center" bgcolor="peech" cellspacing="13" height="575" width="576" cellpadding="50">
            <tr>
                <th>
                    Day
                </th>
                <th>
                    1st period
                </th>
                <th>
                    2nd period
                </th>
                <th>
                    3rd period
                </th>
                <th>
                    4th period
                </th>
                <th>
                    5th period
                </th>
                <th>
                    6th period
                </th>
                <th>
                    7th period
                </th>
            </tr>
            <tr>
                <th>
                    Day order 1
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 2
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 3
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 4
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 5
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 6
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
        </table>

        <h2>
            Timetable for 10th standerd
        </h2>
        <table border="5" align="center" bgcolor="aqua" cellspacing="13" height="575" width="576" cellpadding="50">
            <tr>
                <th>
                    Day
                </th>
                <th>
                    1st period
                </th>
                <th>
                    2nd period
                </th>
                <th>
                    3rd period
                </th>
                <th>
                    4th period
                </th>
                <th>
                    5th period
                </th>
                <th>
                    6th period
                </th>
                <th>
                    7th period
                </th>
            </tr>
            <tr>
                <th>
                    Day order 1
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 2
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 3
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 4
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 5
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 6
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
        </table>

        <h2>
            Timetable for 11th standerd
        </h2>
        <table border="5" style="color: white;" align="center" bgcolor="crimson" cellspacing="13" height="575" width="576" cellpadding="50">
            <tr>
                <th>
                    Day
                </th>
                <th>
                    1st period
                </th>
                <th>
                    2nd period
                </th>
                <th>
                    3rd period
                </th>
                <th>
                    4th period
                </th>
                <th>
                    5th period
                </th>
                <th>
                    6th period
                </th>
                <th>
                    7th period
                </th>
            </tr>
            <tr>
                <th>
                    Day order 1
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 2
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 3
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 4
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 5
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 6
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
        </table>

        <h2>
            Timetable for 12th standerd
        </h2>
        <table border="5" align="center" bgcolor="gold" cellspacing="13" height="575" width="576" cellpadding="50">
            <tr>
                <th>
                    Day
                </th>
                <th>
                    1st period
                </th>
                <th>
                    2nd period
                </th>
                <th>
                    3rd period
                </th>
                <th>
                    4th period
                </th>
                <th>
                    5th period
                </th>
                <th>
                    6th period
                </th>
                <th>
                    7th period
                </th>
            </tr>
            <tr>
                <th>
                    Day order 1
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 2
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 3
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 4
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
            <tr>
                <th>
                    Day order 5
                </th>
                <td>
                    English
                </td>
                <td>
                    Tamil
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Science
                </td>
                <td>
                    SST
                </td>
                <td>
                    Classical Music
                </td>
            </tr>
            <tr>
                <th>
                    Day order 6
                </th>
                <td>
                    Science
                </td>
                <td>
                    English
                </td>
                <td>
                    SST
                </td>
                <td>
                    W Music
                </td>
                <td>
                    Hindi
                </td>
                <td>
                    Art
                </td>
                <td>
                    Pottery
                </td>
            </tr>
        </table>
        <br/>

              <div class="footer" style="background-color: black; color: white">
     <br/>
    <center><p>Done By : Sakti-Web <span style="color: red;">&#10084;</span></p></center>
    <br/>
  </div>
    </body>
</html>