<!DOCTYPE html>
<html>

<head>
    <title>
        Timings Management
    </title>
</head>

<body>
    <h1 style="text-align: center;">
        School Timings
    </h1>
    <h3>
        LKG to Class III &nbsp;&nbsp;&nbsp;&nbsp; 8:40 am to 02:20 pm
        <br />
        Classes IV to XII &nbsp;&nbsp;&nbsp;&nbsp;8:40 am to 04:00 pm
        <br /><br />
        Office Timings &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8:40 am to 4:00 pm (Working days)
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        9:00 am to 12.30 pm (Term holidays & Saturdays)Timings
    </h3>
    <h1 style="text-align: center;">
        IMPORTANT DATES TO REMEMBER
    </h1>
    <h3 style="text-align: center;">
        Terms & Term Breaks
    </h3>
    <h4>
        First Term : 4th June To 22nd September 2020<br />
        First Term Break : 23rd September To 4th October 2020
    </h4>
    <h4>
        Second Term : 5th October to 22nd To December 2020<br />
        Second Term Break : 23rd December 2020 To 3rd January 2021
    </h4>
    <h4>
        Third Term : 4th January To 7th April 2021 (LKG to VII)4th January To 21st April 2021 (VIII, IX & XI)<br />
        Third Term Break : 8th April To 8th – June 2021 (LKG to VII) 22nd April To 8th – June 2021 (VIII, IX & XI)
    </h4>
    <h3 style="text-align: center;">
        Term Examinations for Classes IX and XI
    </h3>
    <h4>First Term : 14th September To 22nd September 2020</h4>
    <h4>Second Term : 4th December To 22nd December 2020</h4>
    <h4>Third Term : 11th April to 21st To April 2021 (VIII, IX & XI)</h4>
    <h3 style="text-align: center;">
        Examinations for ICSE (Class X) and ISC (Class XII)
    </h3>
    <h4>
        ICSE 1st Preliminary Exam : 4th December To 22nd December 2020
    </h4>
    <h4>
        ISC 1st Preliminary Exam : 4th December To 22nd December 2020
    </h4>
    <h4>
        ICSE 2nd Preliminary Exam : 18th January To 5th February 2021
    </h4>
    <h4>
        ISC 2nd Preliminary Exam : 18th January To 5th February 2021
    </h4>
    <h4>
        ISC Practical Exam : 8th February To 27th February 2021 **
    </h4>
    <h4>
        ICSE 2020 Exam : 29th February 2021 To 1st April 2021 **
    </h4>
    <h4>
        ISC 2020 Exam : 29th February 2021 To 1st April 2021 **

    </h4>
    <h5 style="text-align: right;"><i>** Tentative dates only</i></h5>
    <h3 style="text-align: center;">
        Orientation Meetings for Parents
    </h3>
    <h4>Class XI (ISC) : Friday, 5th June 2020</h4>
    <h4>Class VI : Saturday, 11th July 2020</h4>
    <h4>Class VIII (ICSE) : Saturday, 20th February 2021</h4>
    <h4>Class III : Saturday, 19th March 2021</h4>
    <h4>LKG (2020 – 21): Friday, 15th April 2021</h4>

    <h3 style="text-align: center;">
        Report Meet for Parents
    </h3>
    <h4>
        TERM I LKG to XII : Friday, 9th October 2020 & Saturday, 10th October 2020
    </h4>
    <h4>
        TERM III : LKG to VII : Friday, 8th April 2021 & Saturday, 9th April 2021<br />
        TERM III : VIII, IX and XI : Saturday, 23rd April 2021
    </h4>
    <h3 style="text-align: center;">
        Special Days for Parents
    </h3>
    <h4>Project Presentation, Class VIII : Friday, 31st July 2020</h4>
    <h4>Kreedotsav 2015, Classes LKG to XII : Saturday, 15th August 2020</h4>
    <h4>Project Presentation, Class VII : Friday, 11th September 2020</h4>
    <h4>Senior Kalotsav : 2020, Classes IX to XII : Saturday, 7th November 2020</h4>
    <h4>Junior Kalotsav 2020, Classes III to V : Saturday, 19th December 2020</h4>
    <h4>Project Presentation, Class VI : Friday, 29th January 2021</h4>
    <h4>Pradarshan, Classes LKG to II : Saturday, 6th February 2021</h4>
    <h1 style="text-align: center;">
        DAILY SCHEDULE
    </h1>
    <table border="10" align="center" cellspacing="10" height="575" width="576" cellpadding="10">
        <tr>
            <th>Time</th>
            <th>LKG – III</th>
            <th>IV – VII</th>
            <th>VIII – XII</th>
        </tr>
        <tr>
            <td><b>8:40 – 9:00</b></td>
            <td>Assembly</td>
            <td>Assembly</td>
            <td>Assembly</td>
        </tr>
        <tr>
            <td><b>9:00 – 9:40</b></td>
            <td>1st Period</td>
            <td>1st Period</td>
            <td>1st Period</td>
        </tr>
        <tr>
            <td><b>9:40 – 9:50</b> </td>
            <td><b>Juice Break</b></td>
            <td><b>Juice Break</b></td>
            <td><b>Juice Break</b></td>
        </tr>
        <tr>
            <td><b>9:50 – 10:30</b></td>
            <td>2nd Period</td>
            <td>2nd Period</td>
            <td>2nd Period</td>
        </tr>
        <tr>
            <td><b>10:30 – 11:10</b></td>
            <td>3rd Period</td>
            <td>3rd Period</td>
            <td>3rd Period</td>
        </tr>
        <tr>
            <td><b>11:10 – 11:50 </b></td>
            <td><b>Lunch Break</b></td>
            <td>4th Period</td>
            <td>4th Period</td>
        </tr>
        <tr>
            <td><b>11:50 – 12:30 </b></td>
            <td>4th Period</td>
            <td><b>Lunch Break</b></td>
            <td>4th Period</td>
        </tr>
        <tr>
            <td><b>12:30 – 1:05 </b></td>
            <td>5th Period</td>
            <td>5th Period</td>
            <td><b>Lunch Break</b></td>
        </tr>
        <tr>
            <td><b>1:05 – 1:40</b></td>
            <td>6th Period</td>
            <td>6th Period</td>
            <td>6th Period</td>
        </tr>
        <tr>
            <td><b>1:40 – 2:20 </b></td>
            <td>7th Period</td>
            <td>7th Period</td>
            <td>7th Period</td>
        </tr>
        <tr>
            <td><b>2:20 – 3:00 </b></td>
            <td>-</td>
            <td>8th Period</td>
            <td>8th Period</td>
        </tr>
        <tr>
            <td><b>3:00 – 3:40 </b></td>
            <td>-</td>
            <td>9th Period</td>
            <td>9th Period</td>
        </tr>
        <tr>
            <td><b>3:40 – 3:50 </b></td>
            <td>-</td>
            <td>Class Teachers’ Class</td>
            <td>Class Teachers’ Class</td>
        </tr>
        <tr>
            <td><b>3:50 – 4:00 </b></td>
            <td>-</td>
            <td>Snacks Break </td>
            <td>Snacks Break </td>
        </tr>
    </table>
    <br/>

          <div class="footer" style="background-color: black; color: white">
     <br/>
    <center><p>Done By : Sakti-Web <span style="color: red;">&#10084;</span></p></center>
    <br/>
  </div>
</body>

</html>